.node-container {
  width: 150px;
  height: 80px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin: 5px;
  background-color: #61dafb;
}

.separator {
  margin-left: 50px;
}

.leaf-container {
  width: 150px;
  height: 80px;
  display: flex;
  margin: 5px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: coral;
}

.app-container {
  display: flex;
}

.rules-container {
  flex: 1;
}

.rules-json-container {
  flex: 1;
}

.json-pretty {
  padding: 10px;
}

.button {
  height: 50px;
  width: 100px;
  background-color: chocolate;
  color: white;
  font-size: 18px;
}
